<template>
  <v-app id="app">
    <v-app-bar app transparent elevation='0'>
      <v-spacer></v-spacer>
    </v-app-bar>
    <!-- Content -->
    <v-main class="base">
      <router-view />
    </v-main>
    <!-- Content -->
  </v-app>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
.v-app-bar {
  background: rgba(0, 0, 0, 0) !important;
}
</style>
