<template>
  <v-container>
    <!-- Quick Intro -->
    <heroBox />
    <!-- Quick Intro -->
    <v-card
      class="mx-auto pa-xl-15 pt-xl-5 pa-sm-4"
      width="1200px"
      elevation="0"
    >
      <v-card-title
        class="text-lg-h2 text-sm-h3 text-xs-h3 text-h4"
        id="projects"
        >Projects
      </v-card-title>
      <v-container class="d-flex flex-wrap justify-center">
        <projectCard v-for="el in proj" :key="el" :obj="el" />
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import heroBox from "@/components/HeroBox";
import projectCard from "@/components/ProjectCard";
export default {
  components: { heroBox, projectCard },
  data() {
    return {
      proj: [
        {
          name: "Budget R",
          about:
            "A simple budgeting app that calculates the total utilization of available funds, and each individual income and expense contribution.",
          icons: ["fab fa-vuejs", "fab fa-html5", "fab fa-css3"],
          url: "https://budgetr-app.web.app/",
          gitlab: "https://gitlab.com/glasgowrandy/vue-budget",
        },
        {
          name: "Shopping Stories Parser",
          about:
            "A custom parser used to extract data from the Shopping Stories dataset. This parser acts as the first step in our two step process of importing data into a Neo4j instance.",
          icons:['fab fa-node-js'],
          gitlab:'https://gitlab.com/glasgowrandy/document_parser_shopping_stories'
        },
      ],
    };
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");
</style>
