<template>
  <v-card
    class="mx-auto pa-xl-15 pt-xl-5 pa-sm-4"
    width="1200px"
    elevation="0"
    id="toolbox"
  >
    <v-card-subtitle class="mb-n3 text-lg-h4 text-md-h4 text-sm-h5"
      >Hi, my name is
    </v-card-subtitle>
    <v-card-title
      class=" ml-n1 text-lg-h2 text-sm-h3 text-xs-h3 text-h4 font-weight-light "
      >Randy Glasgow
    </v-card-title>
    
    
    <v-card-text class="text-sm-body-1 text-md-h6 font-weight-light">
      <p>
        Hello! I'm a senior at The University of Central Florida, studying
        computer science with a focus on machine learning, data visualization,
        and user interaction. I enjoy working on projects that challenge my
        understanding and allow me to learn new tools, and techniques to solve a
        problem. My goal is to always take every opportunity as a chance to
        learn something new and simultaneously deliver the best possible
        product.
      </p>
      <p>
        Outside of software I spend my time taking photos, traveling, mountain
        biking, tutoring, create digging, listening to podcasts and working out.
      </p>
      Here are a few of the tools I have been using recently:
      <v-container
        class="d-flex justify-md-center flex-wrap pt-3 pb-5"
        id="toolbox"
      >
        <v-col class="pb-0 pt-0">
          <v-list class="pb-0 pt-0">
            <v-list-item class="text-lg-body-1 text-sm-body-2">
              <v-list-item-icon class="mr-3" id="javascript">
                <v-icon>fab fa-js-square</v-icon>
              </v-list-item-icon>
              <v-list-item-title>JavaScript</v-list-item-title>
            </v-list-item>
            <v-list-item class="text-lg-body-1 text-sm-body-2">
              <v-list-item-icon class="mr-3" id="nodejs">
                <v-icon>fab fa-node-js</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Node</v-list-item-title>
            </v-list-item>
            <v-list-item class="text-lg-body-1 text-sm-body-2">
              <v-list-item-icon class="mr-3" id="python">
                <v-icon>fab fa-python</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Python</v-list-item-title>
            </v-list-item>
            <v-list-item class="text-lg-body-1 text-sm-body-2">
              <v-list-item-icon class="mr-3" id="htmlfive">
                <v-icon>fab fa-html5</v-icon>
              </v-list-item-icon>
              <v-list-item-title>HTML</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col class="pb-0 pt-0">
          <v-list class="pb-0 pt-0">
            <v-list-item class="text-lg-body-1 text-sm-body-2">
              <v-list-item-icon class="mr-3" id="gitlab">
                <v-icon>fab fa-gitlab</v-icon>
              </v-list-item-icon>
              <v-list-item-title>GitLab</v-list-item-title>
            </v-list-item>
            <v-list-item class="text-lg-body-1 text-sm-body-2">
              <v-list-item-icon class="mr-3" id="jira">
                <v-icon>fab fa-jira</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Jira</v-list-item-title>
            </v-list-item>
            <v-list-item class="text-lg-body-1 text-sm-body-2">
              <v-list-item-icon class="mr-3" id="vuejs">
                <v-icon>fab fa-vuejs</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Vue</v-list-item-title>
            </v-list-item>
            <v-list-item class="text-lg-body-1 text-sm-body-2">
              <v-list-item-icon class="mr-3" id="cssthree">
                <v-icon>fab fa-css3</v-icon>
              </v-list-item-icon>
              <v-list-item-title>CSS</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col class="pb-0 pt-0"></v-col>
        <v-col class="pb-0 pt-0"></v-col>
      </v-container>
    </v-card-text>

    <v-card-actions class="d-flex flex-wrap justify-center mb-15">
      <v-btn
        class="ma-3"
        fab
        id="filepdf-btn"
        href="https://drive.google.com/file/d/15e4B5UA91xYxSP1kTcnby6duk-03x2b9/view?usp=sharing"
      >
        <v-icon>far fa-file-pdf</v-icon>
      </v-btn>
      <v-btn
        class="ma-3"
        fab
        id="gitlab-btn"
        href="https://gitlab.com/users/glasgowrandy"
      >
        <v-icon>fab fa-gitlab</v-icon>
      </v-btn>
      <v-btn
        class="ma-3"
        fab
        id="linkedin-btn"
        href="https://www.linkedin.com/in/glasgowrandy/"
      >
        <v-icon>fab fa-linkedin</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "HeroBox",
  components: {},
};
</script>

<style>
.fira-font {
  font-family: "Fira Code", monospace !important;
}

#linkedin-btn {
  color: #0073b1;
}
#linkedin-btn:hover {
  color: #00a6ff;
  text-shadow: 0px 7px 7px #0088d16c;
  box-shadow: 0px 7px 7px #0088d16c;
}

#gitlab-btn {
  color: #fd6f27;
}
#gitlab-btn:hover {
  color: #fd6f27;
  text-shadow: 0px 7px 7px #7c64c577;
  box-shadow: 0px 7px 7px #7c64c56c;
}

#filepdf-btn {
  color: #a90e1e;
}
#filepdf-btn:hover {
  color: #ff0000;
  text-shadow: 0px 7px 7px #cc717a;
  box-shadow: 0px 7px 7px #cc717a;
}

#toolbox #nodejs .v-icon {
  color: #303030;
  text-shadow: 0px 7px 7px #91c640;
}

#toolbox #javascript .v-icon {
  color: #153e6e;
  text-shadow: 0px 7px 7px #f5dd1b;
}

#toolbox #python .v-icon {
  color: #356e9b;
  text-shadow: 0px 7px 7px #ffca3c;
}

#toolbox #vuejs .v-icon {
  color: #33485d;
  text-shadow: 0px 7px 7px #3fb581;
}

/* Left Column Icons */
#toolbox #gitlab .v-icon {
  color: #fd6f27;
  text-shadow: 0px 7px 7px #7c64c5;
}

#toolbox #jira .v-icon {
  color: #0254ce;
  text-shadow: 0px 7px 7px #7cb4fd;
}

#toolbox #htmlfive .v-icon {
  color: #e44c27;
  text-shadow: 0px 7px 7px #ffb29f;
}

#toolbox #cssthree .v-icon {
  color: #0070b4;
  text-shadow: 0px 7px 7px #48c2ff;
}
</style>