<template>
  <v-hover v-slot="{ hover }">
    <v-card
      class="ma-3"
      max-width="400"
      min-width="300"
      id="card"
      :elevation="hover ? 6 : 2"
    >
      <v-card-title>{{ obj.name }}</v-card-title>
      <v-card-text >{{ obj.about }} </v-card-text>

      <div class="d-flex flex-wrap justify-center">
        <v-icon class="ma-3 ml-5 mr-5" v-for="i in obj.icons" :key="i">{{
          i
        }}</v-icon>
      </div>
      <v-card-actions class="ma-4">
        <v-btn text id="gitlab-btn" class="pa-5" :href="obj.gitlab"
          >code<v-icon class="pl-2">fab fa-gitlab</v-icon></v-btn
        >
        <v-spacer></v-spacer>
        <v-btn v-if="obj.url" text id="explore-compass" class="pa-5" :href="obj.url"
          >explore<v-icon class="pl-2">far fa-compass</v-icon></v-btn
        >
      </v-card-actions>
    </v-card>
  </v-hover>
</template>

<script>
export default {
  props: ["obj"],
};
</script>

<style scoped>
#gitlab-btn {
  color: #fd6f27;
}
#gitlab-btn:hover {
  color: #fd6f27;
  text-shadow: 0px 7px 7px #7c64c577;
  box-shadow: 0px 7px 7px #7c64c56c;
}
#explore-compass {
  color: #303030;
}
#explore-compass:hover {
  color: #303030;
  text-shadow: 0px 7px 7px #90c64065;
  box-shadow: 0px 7px 7px #90c64065;
}
</style>